In [1]:
# Import dependencies
import pandas as pd 
import seaborn as sns 



# merge both accepeted and rejected dataset (join type outer)

# Seaborn plot to show different corelations betweeen data 

# See if there is a bias or imbalance in dataset 

# missing data, NaNs

# Remove Columns not providing value to our dataset or analysis (Drop columns)

# determine values to be replaced depending on unique count values (binning)

# One Hot Encoder 

# Spliting our dataset into target and features 
# X = features 
# y = ????? target (Policy Code)

# Standardize the data /  normalize the data 

# Train and test data 

# ML algorithms ( SVM )
# ML tensorFlow no.of layers /  number of inputs 

# feature importance 

# accuracy and loss

In [2]:
# import datasets 
raw_accepted = pd.read_csv('accepted_2007_to_2018Q4.csv')

In [3]:
# second file 
raw_rejected = pd.read_csv('rejected_2007_to_2018Q4.csv')

In [45]:
file_rejected = raw_rejected.copy()
file_rejected.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0

In [19]:
file_accepted = raw_accepted.copy()
file_accepted.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# file['policy_code'].nunique()

In [ ]:
# file_rejected['Policy Code'].nunique()

In [ ]:
# file.purpose.tolist()

In [ ]:
# file.dtypes

In [ ]:
# file[['fico_range_low',
#  'fico_range_high','last_credit_pull_d',
#  'last_fico_range_high',
#  'last_fico_range_low']].describe()

In [ ]:
# file_rejected['Risk_Score'].describe()

In [ ]:
# file_rejected.columns

In [46]:
file_rejected = file_rejected[['Amount Requested', 'Risk_Score',
       'Debt-To-Income Ratio', 'Employment Length']]

In [ ]:
# file_rejected

In [47]:
# adding column target 
file_rejected['Label_target'] = 0

In [48]:
file_rejected.head()

,Amount Requested,Risk_Score,Debt-To-Income Ratio,Employment Length,Label_target
0,1000.0,693.0,10%,4 years,0
1,1000.0,703.0,10%,< 1 year,0
2,11000.0,715.0,10%,1 year,0
3,6000.0,698.0,38.64%,< 1 year,0
4,1500.0,509.0,9.43%,< 1 year,0

In [ ]:
# file['last_credit_pull_d'].describe()

In [24]:
file_accepted = file_accepted[['loan_amnt', 'fico_range_low', 'fico_range_high', 'dti', 'emp_length']]
file_accepted.head()

   loan_amnt  fico_range_low  fico_range_high    dti emp_length
0     3600.0           675.0            679.0   5.91  10+ years
1    24700.0           715.0            719.0  16.06  10+ years
2    20000.0           695.0            699.0  10.78  10+ years
3    35000.0           785.0            789.0  17.06  10+ years
4    10400.0           695.0            699.0  25.37    3 years

In [25]:
file_accepted['average'] = (file_accepted['fico_range_low'] + file_accepted['fico_range_high'])*0.5

In [26]:
file_accepted = file_accepted.drop(columns=['fico_range_low','fico_range_high'], axis=1)

In [27]:
file_accepted['label_target']=1   
file_accepted.head()

   loan_amnt    dti emp_length  average  label_target
0     3600.0   5.91  10+ years    677.0             1
1    24700.0  16.06  10+ years    717.0             1
2    20000.0  10.78  10+ years    697.0             1
3    35000.0  17.06  10+ years    787.0             1
4    10400.0  25.37    3 years    697.0             1

In [ ]:
# file_rejected

In [28]:
file_accepted.rename(columns= {'loan_amnt': 'Loan_Amount', 'dti': 'Debt_income_ratio', 'average': 'Credit_Score', 'label_target': 'Loan_Status', 'emp_length':'Emp_Length'}, inplace=True)
file_accepted.head()

   Loan_Amount  Debt_income_ratio Emp_Length  Credit_Score  Loan_Status
0       3600.0               5.91  10+ years         677.0            1
1      24700.0              16.06  10+ years         717.0            1
2      20000.0              10.78  10+ years         697.0            1
3      35000.0              17.06  10+ years         787.0            1
4      10400.0              25.37    3 years         697.0            1

In [49]:
file_rejected.rename(columns= {'Amount Requested': 'Loan_Amount', 'Debt-To-Income Ratio': 'Debt_income_ratio', 'Risk_Score': 'Credit_Score', 'Label_target': 'Loan_Status', 'Employment Length':'Emp_Length'}, inplace=True)
file_rejected.head()

   Loan_Amount  Credit_Score Debt_income_ratio Emp_Length  Loan_Status
0       1000.0         693.0               10%    4 years            0
1       1000.0         703.0               10%   < 1 year            0
2      11000.0         715.0               10%     1 year            0
3       6000.0         698.0            38.64%   < 1 year            0
4       1500.0         509.0             9.43%   < 1 year            0

In [50]:
file_rejected = file_rejected[['Loan_Amount', 'Debt_income_ratio', 'Emp_Length', 'Credit_Score', 'Loan_Status']]
file_rejected.head()

   Loan_Amount Debt_income_ratio Emp_Length  Credit_Score  Loan_Status
0       1000.0               10%    4 years         693.0            0
1       1000.0               10%   < 1 year         703.0            0
2      11000.0               10%     1 year         715.0            0
3       6000.0            38.64%   < 1 year         698.0            0
4       1500.0             9.43%   < 1 year         509.0            0

In [51]:
file_rejected['Debt_income_ratio'] = file_rejected['Debt_income_ratio'].str.replace('%','')
file_rejected.head()

   Loan_Amount Debt_income_ratio Emp_Length  Credit_Score  Loan_Status
0       1000.0                10    4 years         693.0            0
1       1000.0                10   < 1 year         703.0            0
2      11000.0                10     1 year         715.0            0
3       6000.0             38.64   < 1 year         698.0            0
4       1500.0              9.43   < 1 year         509.0            0

In [52]:
file_rejected['Debt_income_ratio'] = pd.to_numeric(file_rejected['Debt_income_ratio'])
file_rejected.head()

   Loan_Amount  Debt_income_ratio Emp_Length  Credit_Score  Loan_Status
0       1000.0              10.00    4 years         693.0            0
1       1000.0              10.00   < 1 year         703.0            0
2      11000.0              10.00     1 year         715.0            0
3       6000.0              38.64   < 1 year         698.0            0
4       1500.0               9.43   < 1 year         509.0            0

In [74]:
consolidated = pd.concat([file_accepted, file_rejected], axis=0).reset_index(drop=True)
consolidated.head()

   Loan_Amount  Debt_income_ratio Emp_Length  Credit_Score  Loan_Status
0       3600.0               5.91  10+ years         677.0            1
1      24700.0              16.06  10+ years         717.0            1
2      20000.0              10.78  10+ years         697.0            1
3      35000.0              17.06  10+ years         787.0            1
4      10400.0              25.37    3 years         697.0            1

In [36]:
# consolidated.shape

(29909442, 5)

In [69]:
consolidated.dtypes

Loan_Amount          float64
Debt_income_ratio    float64
Emp_Length            object
Credit_Score         float64
Loan_Status            int64
dtype: object

In [70]:
consolidated['Emp_Length'].value_counts()

< 1 year     23184303
5 years       2419164
10+ years     1164389
1 year         416243
2 years        402881
3 years        358097
4 years        258228
6 years        174253
8 years        157879
7 years        148361
9 years        127349
Name: Emp_Length, dtype: int64

In [75]:
# consolidated['Emp_Length'] = consolidated['Emp_Length'].str.replace('10+ years','10')
# consolidated['Emp_Length'] = consolidated['Emp_Length'].str.replace('< 1 year','0')
# consolidated['Emp_Length'] = consolidated['Emp_Length'].str.replace('1 year','1')
# consolidated['Emp_Length'] = consolidated['Emp_Length'].str.replace(' years','')
consolidated['Emp_Length'] = consolidated['Emp_Length'].str.replace(' ','')
consolidated['Emp_Length'].value_counts()

<1year      23184303
5years       2419164
10+years     1164389
1year         416243
2years        402881
3years        358097
4years        258228
6years        174253
8years        157879
7years        148361
9years        127349
Name: Emp_Length, dtype: int64

In [76]:
consolidated['Emp_Length'] = consolidated['Emp_Length'].str.replace('+years','')
consolidated['Emp_Length'].value_counts()

error: nothing to repeat at position 0

In [62]:
consolidated['Emp_Length'] = consolidated['Emp_Length'].str.replace('10+','10')

In [63]:
consolidated['Emp_Length'].value_counts()

0      23184303
5       2419164
10+     1164389
1        416243
2        402881
3        358097
4        258228
6        174253
8        157879
7        148361
9        127349
Name: Emp_Length, dtype: int64

In [58]:
consolidated['Emp_Length'] = pd.to_numeric(consolidated['Emp_Length'])
consolidated.head()

ValueError: Unable to parse string "10+" at position 0

# Machine Learning